@import 'normalize';
@import 'var';

body {
	font-family: $font;
	background-color: #E7E7E7;
}
header {
	background-color: rgba(47,47,47,0.98);
	.wrapper {
		display: flex;
		font-size: 16px;
		max-width: 1200px;
		margin: 0 auto;
		.items {
			padding-left: 0px;
			list-style-type: none;
			.item {
				padding: 0 15px;
				a {
					color: #999;
					text-decoration: none;
					transition: all .3s ease-in-out;
				}
				a:hover {
					color: white;
				}
				.active {
					color: #fff;
				}
			}
		}
		.logo-hamburger {
			display: flex;
	    	align-items: center;
	   		margin-left: 20px;
			.img {
				width: 80px;
			}
			.hamburger {
				width: 30px;
	    		height: 30px;
	    		padding: 5px;
	    		display: none;
	    		.fa {
					color: #999;
					transition: all .3s ease-in-out;
	    		}
			}
		}
		.nav-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.left-nav {
				display: flex;
				align-items: center;
				.items {
					display: flex;
					align-items: flex-start;
					.item {
						.dots {
							padding-left: 0px;
							list-style-type: none;
							a {
								.dot {
									display: inline-block;
									.content {
										display: block;
										height: 5px;
										width: 5px;
										background-color: #999;
										border-radius: 50%;
										margin-right: 2px;
										transition: all .3s ease-in-out;
									}
								}
							}
							a:hover > .dot .content {
								background-color: white;
							}
						}
					}
				}
			}
			.right-nav {
				display: flex;
				align-items: center;
				.items {
					display: flex;
					align-items: center;
					#search {
						position: relative;
						border-radius: 3px;
						.search-text {
							border: none;
							font-family: $font;
							padding: 5px 5px 5px 24px;
							font-size: 14px;
						}
						.fa-search {
							color: #999;
							position: absolute;
						    top: 5px;
						    left: 5px;
						}
					}
					.search-text:focus {
						outline: none;
					}
				}
			}
		}
	}
}

.filter {
	width: 100%;
	min-height: 50px;
	border-bottom: 1px solid #e5e5e5;
	background: #FEFEFE;
	display: flex;
	justify-content: center;
	.items {
		list-style-type: none;
		padding-left: 0px;
		display: flex;
		.item{
			margin-right: 18px;
			font-family: $font;	
			.fa{
				margin-left: 5px;
				position: relative;
			    bottom: 2px;
			}
		}
	}
}

/*Home view*/
.home-content {

	.wrapper {
		display: flex;
		justify-content: flex-start;
		align-content: center;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
		.inner {
			margin: 20px;
			box-sizing: border-box;
		    display: block;
		    height: 200px;
		    background-color: white;
			width: 200px;
			border-radius: 2px;
    		box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    		position: relative;
			.shots {
				max-width: 100%;
			    margin: 10px;
			    display: block;
			    height: 155px;
				background-size: cover;
				background-position: center;
			}
			.hover {
			    max-width: 100%;
			    margin: 10px;
			    display: block;
			    height: 155px;
			    width: 180px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    background-color: white;
			    opacity: 0;
			    text-decoration: none;
			    color: black;
			    transition: all .3s ease-in-out;
			    strong {
					display: block;
				    margin-bottom: 12px;
				    margin-top: 7px;
				    font-size: 14px;
				    font-weight: 500;
			    }
			    .comment {
					font-size: 11px;
				    color: #888888;
			    }
			    .timeStamp {
			    	display: block;
					font-size: 12px;
					position: absolute;
					color: #888888;
					bottom: 0px;
			    }
			}
			.hover:hover {
				opacity: 1;
			}
			.views {
				list-style-type: none;
				padding-right: 10px;
				display: flex;
				justify-content: flex-end;
				font-size: 13px;
				color: #888888;
				.item {
					margin-left: 8px;
					display: flex;
					font-family: $font;
					cursor: pointer;
					.fa {
						margin-right: 2px;
					}
				}
				.item:hover {
					color: #eb4587;
				}
			}
			.owner {
				display: flex;
				margin-left: 10px;
				.photo {
					width: 15px;
    				height: 15px;
   					border-radius: 50%;
				}
				.name {
					font-size: 14px;
				    color: #1DABB8;
				    text-decoration: none;
				    font-weight: 400;
				    padding-left: 5px;
				}
				.name:hover {
					color: #11676f;
				}
			}
		}
  	}
}

/*detail view*/
.detail-content {
	.wrapper {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		.inner-detail {
			width: 100%;
			.owner-info {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin: 50px 0 30px 0;
				img {
					height: 50px;
				    width: 50px;
				    border-radius: 50%;
				}
				.items {
					margin: 0px;
					padding-left: 15px;
					list-style-type: none;
					h1 {
						font-size: 18px;
					}
					p {
						margin: 0px;
						color: #999
					}
				}
			}
			.content {
				display: flex;
				.shots {
					flex-grow: 1;
					border-bottom: 1px solid #999;
					.wrapper {
						background-color: white;
    					display: block;
    					width: 100%;
					    height: 550px;
					    position: relative;
						.img {
					    	display: block;
						    width: 95%;
						    height: 95%;
						    background-position: center;
						    background-size: cover;
						    position: absolute;
						    top: 50%;
						    left: 50%;
						    transform: translate(-50%, -50%);
						}
					}
					p {
						color: #555;
					}
				}
				.info {
					flex-grow: 0;
					margin-left: 65px;
					flex-basis: 570px;
					.likes, .share, .comment {
						list-style-type: none;
						padding-left: 0px;
						display: flex;
    					justify-content: space-between;
    					border-bottom: 1px solid #999;
    					padding-bottom: 15px;
    					color: #999;
					}
					.hover {
						color: #999;
						text-decoration: none;
						cursor: pointer;
					}
					.hover:hover {
						color: #eb4587;
					}
					.more {
						h2 {
							font-size: 16px;
							font-weight: 500;
						}
						.items {
							list-style-type: none;
							padding-left: 0;
							display: flex;
						    flex-wrap: wrap;
						    justify-content: space-between;
						    border-bottom: 1px solid #999;
    						padding-bottom: 15px;
						    img {
						    	width: 190px;
						    	margin-bottom: 15px;
						    }
						    .empty {
						    	color: #999;
						    }
						}
					}
				}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header {
		.wrapper {
			display: flex;
			flex-direction: column;
			.logo-hamburger {
				height: 50px;
				margin:0 auto;
				.hamburger {
					display: block;
					position: absolute;
					right: 5px;
				}
				.hamburger:hover > .fa {
					color: white;
				}
			}
			.hm-active {
				max-height: 1000px!important;
			}
			.nav-wrapper {
				max-height: 0px;
	    		overflow: hidden;
	    		transition: all .3s ease-in-out;
				display: flex;
				flex-direction: column;
				.left-nav {
					.items {
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 0px;
						margin-top: 0px;
						width: 100%;
						.item {
							width: 100%;
							padding: 15px;
							border-top: 1px solid rgba(255,255,255,0.08);
						}
					}
				}
				.right-nav {
					.items {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-top: 0px;
						.item {
							width: 100%;
							padding: 15px;
							border-top: 1px solid rgba(255,255,255,0.08);
						}
					}
				}
			}
		}
	}
}

/*Home view*/
@media only screen and (max-width : 1216px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 960px;
			.inner {
				width: 199px;
			}
			.content {
				flex-direction: column;
			}
		}
	}

	.detail-content .wrapper .inner-detail .content .info {
		margin-left: 0px;
	}

	.detail-content .wrapper .inner-detail .content .info .more .items {
		max-width: 100%;
	}
}

@media only screen and (max-width : 1199px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 960px;

		}
	}
	.detail-content .wrapper .inner-detail .content .shots .wrapper img {
	    width: 96%;
	}
}

@media only screen and (max-width : 972px) {

	.home-content, .detail-content {
		.wrapper {
			max-width: 720px;
		}
	}
	.detail-content .wrapper .inner-detail .content .shots .wrapper img {
	    width: 95%;
	}
}

@media only screen and (max-width : 733px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 720px;
			.inner {
				width: 194px;
			}
		}
	}
}

@media only screen and (max-width : 719px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 720px;
			.inner {
				width: 193px;
			}
		}
	}
}

@media only screen and (max-width : 715px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 464px;
			.inner {
				width: 192px;
			}
		}
	}
	.detail-content .wrapper .inner-detail .content .shots img {
	    display: block;
	    width: 92%;
	    padding: 20px;
	}
	.detail-content .wrapper .inner-detail .content .shots .wrapper img {
		width: 92%;
	}
}

@media only screen and (max-width : 463px) {
	.home-content, .detail-content {
		.wrapper {
			max-width: 330px;
			.inner {
				width: 125px;
			}
		}
	}
	.detail-content .wrapper .inner-detail .content .info .more .items img {
	    width: 155px;
	    margin-bottom: 15px;
	}
	.detail-content .wrapper .inner-detail .content .shots .wrapper img {
		width: 88%;
	}
}

